@import "src/assets/variables.scss";

.level {
    font-family: $font-family-magic;
    &-controls-details {
        margin: 1rem 0;
        display: flex;
        flex-direction: row;
        gap: 2rem;

        .level-controls {
            width: 160px;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 1rem;
            padding: 1rem 2rem;
            background-color: $paper-background;
            height: fit-content;

            &__input {
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            &__details-button,
            &__button {
                font-family: $font-family-magic;
                width: 100%;
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 4px;
                background-color: #007bff;
                color: #fff;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #0056b3;
                }

                &:nth-last-child(1) {
                    margin-top: 2rem;
                    background-color: #dc3545;

                    &:hover {
                        background-color: #bd2130;
                    }
                }
            }
        }
    }

    &-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: 1rem 2rem;
        background-color: $paper-background;

        &__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;
        }

        &__title {
            font-family: $font-family-magic;
            font-size: 1.5rem;
            font-weight: bold;
            color: $dark-brown;
        }
    }
}

.stats-table {
    width: 100%;
    border-collapse: collapse;

    &__body {
        background-color: #fff;
    }

    &__row {
        border: 1px solid #ddd;
    }

    &__cell {
        padding: 8px;

        &--label {
            font-weight: bold;
            text-align: left;
            background-color: #f2f2f2;
        }

        &--value {
            color: #333;
            text-align: right;
        }
    }
}

.features-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;

    &__head {
        background-color: #f2f2f2;
    }

    &__row {
        border: 1px solid #ddd;
    }

    &__header {
        padding: 8px;
        text-align: left;
        font-weight: bold;
    }

    &__cell {
        padding: 8px;
        color: #333;
        background-color: $paper-background;
    }
}

.spellcasting-table {
    width: 100%;
    border-collapse: collapse;

    &__head {
        background-color: #f2f2f2;
    }

    &__row {
        border: 1px solid #ddd;
    }

    &__header {
        padding: 8px;
        text-align: left;
        font-weight: bold;
    }

    &__cell {
        padding: 8px;

        &--key {
            background-color: white;
        }

        &--value {
            color: #333;
            font-weight: bold;
            background-color: $paper-background;
            border-left: 1px solid #ddd;
            text-align: center;
        }
    }
}

.class-specific-table {
    width: 100%;
    border-collapse: collapse;

    &__body {
        background-color: #fff;
    }

    &__row {
        border: 1px solid #ddd;
    }

    &__cell {
        padding: 8px;

        &--label {
            font-weight: bold;
            text-align: left;
            background-color: #f2f2f2;
        }

        &--value {
            color: #333;
            text-align: left;
        }
    }
}

.level-class-data {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    &__item {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;

        background-color: $paper-background;

        &-title {
            font-size: 1.5em;
            margin-bottom: 10px;
        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;

        &-body {
            tr {
                border-bottom: 1px solid #ccc;
            }
        }

        &-row {
            &:first-child {
                display: flex;
                flex-direction: row;
                font-size: 2rem;
                margin-bottom: 10px;
            }

            &:last-child {
                border-bottom: none;
            }
        }

        &-cell {
            padding: 8px;
            text-align: left;

            &--label {
                font-weight: bold;
            }

            &--value {
                font-weight: normal;
            }
        }
    }
}
