<div class="level">
  <section class="level-controls-details">
    <div class="level-controls">
      <input
        type="number"
        [(ngModel)]="levelInput"
        min="1"
        class="level-controls__input"
      />
      <button
        class="level-controls__details-button"
        (click)="getClassLevelDetails(levelInput)"
      >
        Get Level Details
      </button>
      <button class="level-controls__button" (click)="getClassLevels()">
        Get all levels
      </button>
    </div>

    <div class="level-details" *ngIf="levelClassDetailsData">
      <h3 class="level-details__title">Level Details</h3>
      <div class="level-details__content">
        <div class="level-details__stats details-column">
          <h4 class="level-details__stats-title">Stats</h4>
          <p class="level-details__ability-bonus">
            Ability Bonus: {{ levelClassDetailsData.ability_score_bonuses }}
          </p>
          <p class="level-details__prof-bonus">
            Proficiency Bonus: {{ levelClassDetailsData.prof_bonus }}
          </p>
        </div>

        <!-- Features Section -->
        <div
          class="level-details__features details-column"
          *ngIf="
            levelClassDetailsData.features &&
            levelClassDetailsData.features.length
          "
        >
          <h4 class="level-details__features-title">Features</h4>
          <div
            *ngFor="let feature of levelClassDetailsData.features"
            class="level-details__feature"
          >
            <p class="level-details__feature-name">{{ feature.name }}</p>
          </div>
        </div>

        <!-- Spellcasting Section -->
        <div
          class="level-details__spellcasting details-column"
          *ngIf="levelClassDetailsData.spellcasting"
        >
          <h4 class="level-details__spellcasting-title">Spellcasting</h4>
          <div *ngFor="let key of getKeys(levelClassDetailsData.spellcasting)">
            <p>
              {{ formatKey(key) }}:
              {{ levelClassDetailsData.spellcasting[key] }}
            </p>
          </div>
        </div>

        <!-- Class Specific Section -->
        <div
          class="level-details__class-specific details-column"
          *ngIf="levelClassDetailsData.class_specific"
        >
          <h4 class="level-details__class-specific-title">Class Specific</h4>
          <div
            *ngFor="let key of getKeys(levelClassDetailsData.class_specific)"
          >
            <p *ngIf="!isObject(levelClassDetailsData.class_specific[key])">
              {{ formatKey(key) }}:
              {{ levelClassDetailsData.class_specific[key] }}
            </p>
            <div *ngIf="isObject(levelClassDetailsData.class_specific[key])">
              <p>{{ formatKey(key) }}:</p>
              <div
                *ngFor="
                  let subKey of getKeys(
                    levelClassDetailsData.class_specific[key]
                  )
                "
              >
                <p class="level-details__class-specific-subitem">
                  {{ formatKey(subKey) }}:
                  {{ levelClassDetailsData.class_specific[key][subKey] }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div *ngIf="levelClassData" class="level__class-data">
    <div class="level__item" *ngFor="let levelItem of levelClassData">
      <h3 class="level__item-title">Level Details</h3>
      <p class="level__item-level">Level: {{ levelItem.level }}</p>
      <p class="level__item-prof-bonus">
        Proficiency Bonus: {{ levelItem.prof_bonus }}
      </p>

      <!-- Features Section -->
      <div
        *ngFor="let feature of levelItem.features"
        class="level__item-feature"
      >
        <p *ngIf="feature?.name">Feature: {{ feature.name }}</p>
      </div>

      <!-- Spellcasting Section -->
      <div class="level__spellcasting" *ngIf="levelItem.spellcasting">
        <h4 class="level__spellcasting-title">Spellcasting</h4>
        <div *ngFor="let key of getKeys(levelItem.spellcasting)">
          <p>{{ formatKey(key) }}: {{ levelItem.spellcasting[key] }}</p>
        </div>
      </div>

      <!-- Class Specific Section -->
      <div class="level__class-specific" *ngIf="levelItem.class_specific">
        <h4 class="level__class-specific-title">Class Specific</h4>
        <div *ngFor="let key of getKeys(levelItem.class_specific)">
          <p *ngIf="!isObject(levelItem.class_specific[key])">
            {{ formatKey(key) }}: {{ levelItem.class_specific[key] }}
          </p>
          <div *ngIf="isObject(levelItem.class_specific[key])">
            <p>{{ formatKey(key) }}:</p>
            <div *ngFor="let subKey of getKeys(levelItem.class_specific[key])">
              <p class="level__class-specific-subitem">
                {{ formatKey(subKey) }}:
                {{ levelItem.class_specific[key][subKey] }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
