<div class="level">
  <button (click)="getClassLevels()">Get level</button>
  <div class="level-details">
    <input type="number" [(ngModel)]="levelInput" min="1" class="level-input" />
    <button (click)="getClassLevelDetails(levelInput)">
      Get Level Details
    </button>
  </div>

  <div *ngIf="levelClassData">
    <div class="level-item" *ngFor="let levelItem of levelClassData">
      <h3>Level Details</h3>
      <p>Level: {{ levelItem.level }}</p>
      <p>Proficiency Bonus: {{ levelItem.prof_bonus }}</p>

      <!-- Features Section -->
      <div *ngFor="let feature of levelItem.features">
        <p *ngIf="feature?.name">Feature: {{ feature.name }}</p>
      </div>

      <!-- Spellcasting Section -->
      <div *ngIf="levelItem.spellcasting">
        Spells Known: {{ levelItem.spellcasting.spells_known }}

        1-st: {{ levelItem.spellcasting.spell_slots_level_1 }}

        2-st: {{ levelItem.spellcasting.spell_slots_level_2 }}

        3-st: {{ levelItem.spellcasting.spell_slots_level_3 }}

        4-st: {{ levelItem.spellcasting.spell_slots_level_4 }}

        5-st: {{ levelItem.spellcasting.spell_slots_level_5 }}

        6-st: {{ levelItem.spellcasting.spell_slots_level_6 }}

        7-st: {{ levelItem.spellcasting.spell_slots_level_7 }}

        8-st: {{ levelItem.spellcasting.spell_slots_level_8 }}

        9-st: {{ levelItem.spellcasting.spell_slots_level_9 }}
      </div>

      <!-- class specific section -->
      <div class="" *ngIf="levelItem.class_specific">
        <p>Hit Die: {{ levelItem.class_specific.bardic_inspiration_die }}</p>
        <p>Songs: {{ levelItem.class_specific.song_of_rest_die }}</p>
        <p>
          Magical secrests 1-st:
          {{ levelItem.class_specific.magical_secrets_max_5 }}
        </p>

        <p>
          Magical secrests 2-st:
          {{ levelItem.class_specific.magical_secrets_max_7 }}
        </p>

        <p>
          Magical secrests 3-st:
          {{ levelItem.class_specific.magical_secrets_max_9 }}
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="levelClassDetailsData">
    <h3>Level Details</h3>
    <p>Ability bonus: {{ levelClassDetailsData.ability_score_bonuses }}</p>
    <p>Description: {{ levelClassDetailsData.description }}</p>
  </div>
</div>
