@import "src/assets/variables.scss";

.monster {
    font-family: "Caudex", serif;
    font-size: 1.2rem;
    background-image: url("../../../../assets/images/backgrounds/wood.jpg");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;

    &__wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        background-color: $paper-background;
        background-image: url("../../../../assets/images/backgrounds/paper.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    &__content {
        padding: 20px;
    }

    &-header {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        &__stats {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__name {
            font-size: 1.5rem;
            font-weight: bold;
            color: $rich-red;
            font-family: $font-family-magic;
        }

        &__stats-list {
            // Styles for the stats list container
        }

        &__info {
            // Styles for the individual armor class info
        }

        &__stat {
            // Styles for each stat container
        }

        &__stat-label {
            // Styles for the stat labels
        }

        &__stat-value {
            // Styles for the stat values
        }

        &__image {
            // Styles for the monster image
        }
    }
}
