<app-navbar></app-navbar>

<section class="home">
  <div class="home__wrapper">
    <div class="home__content">
      <h1 class="home__title">
        Welcome to the <span class="home__title--highlight">D&D</span>
      </h1>
      <p class="home__description">
        Turn your imaginations into legendary tales with our all-in-one Dungeons
        & Dragons hub. Create shoppable galleries of your heroic deeds, share
        your adventures, and bring your campaigns to life across multiple
        platforms. Plus, automatically publish your stories, secure your
        campaign notes, track character progress, and more.
      </p>
      <button routerLink="/spells" class="home__button">View Posts</button>
    </div>
    <div class="home__galery">
      <div class="home__galery--a">
        <div
          class="a1 image"
          appLazyLoadBackground="../../assets/images/DND-Theme-Cover.webp"
        ></div>
        <div
          class="a2 image"
          appLazyLoadBackground="../../assets/images/DND_Gameloft_Announcement.webp"
        ></div>
      </div>
      <div class="home__galery--b">
        <div
          class="b1 image"
          appLazyLoadBackground="../../assets/images/new-dnd-video-game-starbreeze-hero.webp"
        ></div>
        <div
          class="b2 image"
          appLazyLoadBackground="../../assets/images/Dragonborn_bard_pg_59_326880__copy.0.jpg"
        ></div>
      </div>
    </div>
  </div>
</section>
