<app-navbar></app-navbar>
<section class="features" *ngIf="showFeatureList">
  <div class="features__wrapper">
    <header class="features__search">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (input)="searchByName()"
        placeholder="Search by name"
      />
    </header>
    <article class="features__data" *ngIf="filteredResults.length > 0">
      <ul class="features__list">
        <li *ngFor="let item of paginatedResults" class="features__item">
          <span class="features__name">{{ item.name }}</span>
          <a (click)="selectFeature(item.url)" class="features__link">Select</a>
        </li>
      </ul>
    </article>
    <article
      class="features__data"
      *ngIf="filteredResults.length === 0 && featureDataList"
    >
      <ul class="features__list">
        <li *ngFor="let item of featureDataList.results" class="features__item">
          <span class="features__name">{{ item.name }}</span>
          <a (click)="selectFeature(item.url)" class="features__link">Select</a>
        </li>
      </ul>
    </article>

    <!-- pagination -->
    <nav *ngIf="totalPages > 1" class="pagination">
      <button
        class="pagination__button pagination__button--prev"
        (click)="goToPage(currentPage - 1)"
        [disabled]="currentPage === 1"
      >
        &larr;
      </button>
      <div class="pagination__bubbles" #paginationBubbles>
        <span
          *ngFor="let page of totalPagesArray; let i = index"
          (click)="goToPage(i + 1)"
          [class.active]="currentPage === i + 1"
          class="pagination__bubbles--item"
        >
          {{ i + 1 }}
        </span>
      </div>
      <button
        class="pagination__button pagination__button--next"
        (click)="goToPage(currentPage + 1)"
        [disabled]="currentPage === totalPages"
      >
        &rarr;
      </button>
    </nav>
  </div>
</section>
