<app-navbar></app-navbar>

<!-- <app-monster [monsterName]="selectMonsterName"></app-monster> -->

<div class="monsters">
  <div class="monsters__wrapper">
    <div class="monsters__form">
      <form class="form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="form__wrapper">
          <div class="form__group">
            <label for="name">Name</label>
            <input id="name" formControlName="name" type="text" />
          </div>
        </div>
      </form>
    </div>

    <div class="monsters__content">
      <div class="monsters__content-check" *ngIf="!showMonsterList">
        <div *ngIf="filteredMonsters.length > 0">
          <div class="monsters__content__list">
            <article
              class="monsters__content__list-item monster"
              *ngFor="let monster of filteredMonsters"
            >
              <div class="monster__name">
                {{ monster.name }}
              </div>
              <div class="monster__type">
                {{ monster.type }}
              </div>
              <div class="monster__desc">
                {{ monster.desc }}
              </div>
            </article>
          </div>
        </div>

        <div *ngIf="filteredMonsters.length === 0">
          <div class="monster-state" *ngIf="monsterDataList">
            <div *ngFor="let item of monsterDataList.results">
              <span (click)="selectMonster(item.url)">{{ item.name }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="" *ngIf="filteredMonsters[0]">
        <div class="">{{ filteredMonsters[0].name }}</div>
      </div>
    </div>
  </div>
</div>
