<app-navbar></app-navbar>
<div class="rules">
  <div class="rules__wrapper">
    <form class="rules__form" (ngSubmit)="getRulesByNameData(ruleName)">
      <div class="form-group">
        <label for="ruleName">Rule Name: </label>
        <select
          id="ruleName"
          [(ngModel)]="ruleName"
          name="ruleName"
          class="form-control"
        >
          <option *ngFor="let option of rulesOptions" [value]="option.id">
            {{ option.name }}
          </option>
        </select>
      </div>
      <button type="submit" class="fetch-button">Fetch Rule</button>
    </form>

    <!-- Displaying fetched rules data -->
    <div class="rules__data" *ngIf="rulesData">
      <div
        *ngIf="rulesData.desc"
        class="preformatted-text"
        [innerHTML]="rulesData.desc"
      ></div>
    </div>
  </div>
</div>
