<nav class="navbar">
  <ul class="navbar__list">
    <app-navbar-item link="common" title="Common" />
    <app-navbar-item link="character" title="Character" />
    <app-navbar-item link="classes" title="Classes" />
    <app-navbar-item link="mechanics" title="Mechanics" />
    <app-navbar-item link="equipment" title="Equipment" />
    <app-navbar-item link="feats" title="Feats" />
    <app-navbar-item link="features" title="Features" />
    <app-navbar-item link="monsters" title="Monsters" />
    <app-navbar-item link="races" title="Races" />
    <app-navbar-item link="rules" title="Rules" />
    <app-navbar-item link="spells" title="Spells" />
    <app-navbar-item link="subclasses" title="Subclasses" />
    <app-navbar-item link="subraces" title="Subraces" />
    <app-navbar-item link="traits" title="Traits" />
  </ul>
</nav>
