@import "src/assets/variables.scss";

.feature {
    padding: 0 5rem;
    background-image: url("../../../assets/images/backgrounds/wood.jpg"); // Add a paper texture image

    &__wrapper {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        padding: 4rem 5rem 0;
        background-color: $paper-background;
        background-image: url("../../../assets/images/backgrounds/paper.jpg"); // Corrected path
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    &__header {
        margin-bottom: 1rem;
    }

    &__name {
        font-family: $font-family-magic;
        font-size: 3rem;
        font-weight: bold;
    }

    &__level {
        font-size: 1.5rem;
        font-weight: 700;
        color: #666;
    }

    &__class {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 1rem;
        font-family: $font-family-magic;
        &-link {
            color: $rich-red;
            font-size: 1.5rem;
            font-weight: 700;
            font-style: italic;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__description {
        margin: 0 2rem;
        padding: 1rem 2rem;
        background-color: $paper-background;
        &-item {
            font-family: $font-family-magic;
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            line-height: 1.5;
        }
    }
}
