<app-navbar></app-navbar>

<div class="class">
  <div class="class__data" *ngIf="dataOfClass">
    <div class="class__header-info">
      <h2 class="class__header-info-title">{{ dataOfClass.name }}</h2>
      <p class="class__header-info-hitReg">{{ dataOfClass.hit_die }}</p>
    </div>

    <div class="class__container">
      <section class="class__proficiency class__container-box">
        <h2>Proficiency</h2>
        <ul class="class__proficiency__list">
          <li
            class="class__proficiency__list-item"
            *ngFor="let proficiency of dataOfClass.proficiencies"
          >
            <a [href]="proficiency.url" class="class__proficiency-item-url">
              {{ proficiency.name }}
            </a>
          </li>
        </ul>
      </section>

      <section class="class__equipment class__container-box">
        <h2>Starting Equipment</h2>
        <span>
          You start with the following equipment, in addition to the equipment
          granted by your background:
        </span>
        <ul class="class__equipment__list">
          <li
            class="class__equipment__list-item"
            *ngFor="let equipment of dataOfClass.starting_equipment"
          >
            <a
              class="class__equipment__list-url"
              [href]="equipment.equipment.url"
              >{{ equipment.equipment.name }}</a
            >
          </li>
        </ul>
        <ul class="class__equipment__list">
          <li
            class="class__equipment__list-item"
            *ngFor="let option of dataOfClass.starting_equipment_options"
          >
            {{ option.desc }}
          </li>
        </ul>
      </section>

      <section class="class__skills class__container-box">
        <h2>Skills</h2>
        <div
          class="class__skills__item"
          *ngFor="let proficiencies__choices of dataOfClass.proficiency_choices"
        >
          <span
            class="class__skills__item-text"
            *ngIf="
              !proficiencies__choices.desc.includes(
                'Choose two from Animal Handling, Athletics, Intimidation, Nature, Perception, and Survival'
              )
            "
          >
            {{ proficiencies__choices.desc }}
          </span>
          <ul class="class__skills__item-list">
            <li
              class="class__skills__item-list-item"
              *ngFor="let item of proficiencies__choices.from.options"
            >
              <a [href]="item.item.url">
                {{ item.item.name.replace("Skill:", "") }}
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <div class="class__multiclass">
      <h2>Multiclassing</h2>
      <div
        class="class__multiclass-loop"
        *ngFor="let multiclass of dataOfClass.multi_classing.prerequisites"
      >
        <div class="class__multiclass-prerequisites">
          {{ multiclass.ability_score.name }}
          {{ multiclass.minimum_score }}
        </div>
      </div>
      <div
        class="class__multiclass-loop"
        *ngFor="let multiclass of dataOfClass.multi_classing.proficiencies"
      >
        <div class="class__multiclass-proficiencies">
          {{ multiclass.name }}
        </div>
      </div>
    </div>

    <div class="class-subclasses">
      <h2 class="class-subclasses__title">Subclasses</h2>
      <ul class="class-subclasses__list">
        <li
          class="class-subclasses__item"
          *ngFor="let subclass of dataOfClass.subclasses"
        >
          <a class="class-subclasses__link" [href]="subclass.url">{{
            subclass.name
          }}</a>
        </li>
      </ul>
    </div>

    <div class="spellcasting" *ngIf="hasSpellcasting()">
      <h2 class="spellcasting__title">Spellcasting</h2>
      <p class="spellcasting__level">{{ dataOfClass.spellcasting?.level }}</p>
      <span class="spellcasting__ability-name">{{
        dataOfClass.spellcasting?.spellcasting_ability?.name
      }}</span>
      <div class="accordion">
        <div
          class="accordion__item"
          *ngFor="let ability of dataOfClass.spellcasting?.info; let i = index"
          (click)="openedItemIndex = openedItemIndex === i ? null : i"
        >
          <div class="accordion__item-header">
            <span class="spellcasting__info-name">{{ ability.name }}</span>
            <span class="accordion__item-indicator">
              {{ openedItemIndex === i ? "-" : "+" }}
            </span>
          </div>
          <div *ngIf="openedItemIndex === i" class="accordion__item-body">
            <span class="spellcasting__info-desc">{{ ability.desc }}</span>
          </div>
        </div>
      </div>
    </div>

    <app-classes-lvl [currentClass]="currentClass" />
  </div>
</div>
