@import "src/assets/variables.scss";

.class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;

    background-image: $background-image-url;
    background-size: contain;
    background-repeat: repeat;
    background-position: center;

    &__data {
        width: 100%;
        padding: 2rem;

        @include background-image($background-paper-url);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-box {
            width: 100%;
            max-width: 30%;
            // background-color: $dark-brown;
            padding: 1rem;

            h2 {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                font-family: "Caudex";
            }
        }
    }

    &__proficiency {
        // padding: 1rem;

        &__list {
            padding: 0;
            margin: 0;

            &-item {
                margin-bottom: 0.5rem;

                &:last-child {
                    margin-bottom: 0;
                }

                .class__proficiency-item-url {
                    text-decoration: none;
                    color: #007bff;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
