@import "src/assets/variables.scss";

.spell {
    padding: 0 5rem;
    background-image: url("../../../assets/images/backgrounds/wood.jpg"); // Add a paper texture image

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 5rem;
        background-color: $paper-background;
        background-image: $background-paper-url;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;

        min-height: 100vh;
    }

    &__header {
        padding: 1rem 0;
        border-bottom: 3px solid $rich-red;

        &__stats {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            margin-top: 1rem;
        }
    }
}
