<app-navbar></app-navbar>

<main class="mechanics">
  <section class="mechanics__wrapper">
    <nav class="mechanics__controls">
      <button
        class="mechanics__controls-button mechanics__controls-button--mechanics"
        (click)="toggleSection('mechanics'); setActiveButton($event)"
      >
        <span>Mechanics</span>
      </button>
      <button
        class="mechanics__controls-button mechanics__controls-button--damage"
        (click)="toggleSection('damage'); setActiveButton($event)"
      >
        <span>Damage</span>
      </button>
      <button
        class="mechanics__controls-button mechanics__controls-button--magic"
        (click)="toggleSection('magic'); setActiveButton($event)"
      >
        <span>Magic School</span>
      </button>
    </nav>

    <section class="mechanics__content">
      <ul class="mechanics__list" *ngIf="showMechanics">
        <li
          class="mechanics__list-item"
          *ngFor="let conditionType of buttonsConditionsTypes"
        >
          <button
            class="mechanics__list-button"
            (click)="setMechanicCondition(conditionType.toLocaleLowerCase())"
          >
            <span>{{ conditionType }}</span>
          </button>
        </li>
      </ul>

      <ul class="mechanics__list" *ngIf="showDamage">
        <li
          class="mechanics__list-item"
          *ngFor="let damageType of buttonsDamageTypes"
        >
          <button
            class="mechanics__list-button"
            (click)="setDamageTypeCondition(damageType.toLowerCase())"
          >
            <span> {{ damageType }}</span>
          </button>
        </li>
      </ul>

      <ul class="mechanics__list" *ngIf="showMagic">
        <li
          class="mechanics__list-item"
          *ngFor="let magicType of buttonsMagicSchools"
        >
          <button
            class="mechanics__list-button"
            (click)="setMagicSchoolCondition(magicType.toLowerCase())"
          >
            <span> {{ magicType }}</span>
          </button>
        </li>
      </ul>

      <section
        class="mechanics__details"
        *ngIf="mechanicsData && showMechanicsData"
      >
        <header class="mechanics__details-header">
          <h3 class="mechanics__details-title">{{ mechanicsData.name }}</h3>
        </header>
        <div
          class="mechanics__details-desc"
          *ngFor="let mechanics of mechanicsData.desc"
        >
          {{ mechanics }}
        </div>
      </section>
    </section>
  </section>
</main>
