<app-navbar></app-navbar>

<div class="monster">
  <div class="monster__wrapper">
    <div class="monster__content">
      <div class="monster__header">
        <h1 class="monster__name">{{ monsterData?.name }}</h1>
        <img
          class="monster__image"
          [src]="monsterData?.image"
          alt="{{ monsterData?.name }}"
        />
      </div>
      <div class="monster__details">
        <p class="monster__description">{{ monsterData?.desc }}</p>
        <div class="monster__stats">
          <div
            class="monster__stat"
            *ngFor="let ac of monsterData?.armor_class"
          >
            <span class="monster__stat-label"
              >Armor Class ({{ ac.type }}):</span
            >
            <span class="monster__stat-value">{{ ac.value }}</span>
          </div>
          <div class="monster__stat">
            <span class="monster__stat-label">Hit Points:</span>
            <span class="monster__stat-value">{{
              monsterData?.hit_points
            }}</span>
          </div>
          <div class="monster__stat">
            <span class="monster__stat-label">Speed:</span>
            <span
              class="monster__stat-value"
              *ngFor="let speed of monsterData?.speed"
              >{{ speed.walk }} (walk), {{ speed.swim }} (swim)</span
            >
          </div>
          <div class="monster__stat">
            <span class="monster__stat-label">Strength:</span>
            <span class="monster__stat-value">{{ monsterData?.strength }}</span>
          </div>
          <div class="monster__stat">
            <span class="monster__stat-label">Dexterity:</span>
            <span class="monster__stat-value">{{
              monsterData?.dexterity
            }}</span>
          </div>
          <div class="monster__stat">
            <span class="monster__stat-label">Constitution:</span>
            <span class="monster__stat-value">{{
              monsterData?.constitution
            }}</span>
          </div>
          <div class="monster__stat">
            <span class="monster__stat-label">Intelligence:</span>
            <span class="monster__stat-value">{{
              monsterData?.intelligence
            }}</span>
          </div>
          <div class="monster__stat">
            <span class="monster__stat-label">Wisdom:</span>
            <span class="monster__stat-value">{{ monsterData?.wisdom }}</span>
          </div>
          <div class="monster__stat">
            <span class="monster__stat-label">Charisma:</span>
            <span class="monster__stat-value">{{ monsterData?.charisma }}</span>
          </div>
        </div>
        <div
          class="monster__abilities"
          *ngIf="monsterData?.special_abilities?.length"
        >
          <h2 class="monster__abilities-title">Special Abilities</h2>
          <ul class="monster__abilities-list">
            <li
              class="monster__ability"
              *ngFor="let ability of monsterData?.special_abilities"
            >
              <strong>{{ ability.name }}:</strong> {{ ability.desc }}
            </li>
          </ul>
        </div>
        <div class="monster__actions" *ngIf="monsterData?.actions?.length">
          <h2 class="monster__actions-title">Actions</h2>
          <ul class="monster__actions-list">
            <li
              class="monster__action"
              *ngFor="let action of monsterData?.actions"
            >
              <strong>{{ action.name }}:</strong> {{ action.desc }}
            </li>
          </ul>
        </div>
        <div
          class="monster__legendary-actions"
          *ngIf="monsterData?.legendary_actions?.length"
        >
          <h2 class="monster__legendary-actions-title">Legendary Actions</h2>
          <ul class="monster__legendary-actions-list">
            <li
              class="monster__legendary-action"
              *ngFor="let legendaryAction of monsterData?.legendary_actions"
            >
              <strong>{{ legendaryAction.name }}:</strong>
              {{ legendaryAction.desc }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
