<div *ngIf="monsterData">
  <h2>{{ monsterData.name }}</h2>
  <img [src]="monsterData.image" alt="{{ monsterData.name }}" />
  <p><strong>Size:</strong> {{ monsterData.size }}</p>
  <p><strong>Type:</strong> {{ monsterData.type }}</p>
  <p><strong>Alignment:</strong> {{ monsterData.alignment }}</p>
  <p>
    <strong>Armor Class:</strong> {{ monsterData.armor_class[0].value }} ({{
      monsterData.armor_class[0].type
    }})
  </p>
  <p>
    <strong>Hit Points:</strong> {{ monsterData.hit_points }} ({{
      monsterData.hit_dice
    }})
  </p>
  <p>
    <strong>Speed:</strong> Walk: {{ monsterData.speed.walk }}, Swim:
    {{ monsterData.speed.swim }}
  </p>
  <p><strong>Strength:</strong> {{ monsterData.strength }}</p>
  <p><strong>Dexterity:</strong> {{ monsterData.dexterity }}</p>
  <p><strong>Constitution:</strong> {{ monsterData.constitution }}</p>
  <p><strong>Intelligence:</strong> {{ monsterData.intelligence }}</p>
  <p><strong>Wisdom:</strong> {{ monsterData.wisdom }}</p>
  <p><strong>Charisma:</strong> {{ monsterData.charisma }}</p>
  <p><strong>Languages:</strong> {{ monsterData.languages }}</p>
  <p><strong>Challenge Rating:</strong> {{ monsterData.challenge_rating }}</p>
  <div *ngIf="monsterData.special_abilities.length > 0">
    <h3>Special Abilities</h3>
    <ul>
      <li *ngFor="let ability of monsterData.special_abilities">
        <strong>{{ ability.name }}:</strong> {{ ability.desc }}
      </li>
    </ul>
  </div>
  <div *ngIf="monsterData.actions.length > 0">
    <h3>Actions</h3>
    <ul>
      <li *ngFor="let action of monsterData.actions">
        <strong>{{ action.name }}:</strong> {{ action.desc }}
      </li>
    </ul>
  </div>
  <div *ngIf="monsterData.legendary_actions.length > 0">
    <h3>Legendary Actions</h3>
    <ul>
      <li *ngFor="let action of monsterData.legendary_actions">
        <strong>{{ action.name }}:</strong> {{ action.desc }}
      </li>
    </ul>
  </div>
</div>
